
/* Lo */
#left_sidebar .lo_container .lo { /*overflow:hidden;*/ -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
#left_sidebar .lo_container .lo.active { padding:5px; border:1px solid #999; }
#left_sidebar .lo_container .lo.closed { height:28px; }
#left_sidebar .lo_container .lo.active.closed { height:38px; }

/* Toggle Arrow */
#left_sidebar .lo_container .lo > dnd-nodrag{ display: block; padding:5px; overflow:visible; }
#left_sidebar .lo_container .lo > dnd-nodrag > .form_container > .toggle_arrow { display:block; float:left; width:12px; height:28px; padding:0; background:transparent url('./image/lnb_sort_open.png') center no-repeat; background-size:10px 10px; box-sizing:content-box; text-decoration:none; }
#left_sidebar .lo_container .lo > dnd-nodrag > .form_container > .toggle_arrow:hover { background:transparent url('./image/lnb_sort_open_on.png') center no-repeat; background-size:10px 10px; }
#left_sidebar .lo_container .lo > dnd-nodrag > .form_container > .toggle_arrow.closed { background:transparent url('./image/lnb_sort_closed.png') center no-repeat; opacity:1; background-size:10px 10px; }
#left_sidebar .lo_container .lo > dnd-nodrag > .form_container > .toggle_arrow.closed:hover { background:transparent url('./image/lnb_sort_closed_on.png') center no-repeat; background-size:10px 10px; }

/* Inner form */
#left_sidebar .lo_container .lo > dnd-nodrag > .form_container > form .input-group { width:calc(100% - 16px); }
#left_sidebar .lo_container .lo > dnd-nodrag > .form_container > form .lo_title { float:left; width:40px; height:28px; padding:0 6px; font-size:12px; font-weight:normal; color:#212121; text-align:left; line-height:28px; }
#left_sidebar .lo_container .lo > dnd-nodrag > .form_container > form .icon_button.drag { display:none; float:left; width:20px; height:36px; }
#left_sidebar .lo_container .lo.selected > dnd-nodrag > .form_container > form .icon_button.drag { display:block; }
#wrapper #cw_container #left_sidebar .uol .lo_container .lo > dnd-nodrag > .form_container > form .input_lo_title { overflow:hidden; float:left; width:calc(100% - 40px); height:36px; /*background-color:#fff;*/ font-size:1rem; font-weight:700; text-overflow:ellipsis; white-space:nowrap; }

