
<ul dnd-list="lo.drg" class="drg_list clearfix" dnd-allowed-types="lo.allowedTypes" ng-model="lo.drg">
	<li class="drg clearfix" ng-repeat="drg in lo.drg" ng-class="{ active:drg.active, selected:drg.selected }"
	dnd-draggable="drg"
	dnd-type="drg.type"
	dnd-disable-if="drg.type == 'unknown'"
	dnd-moved="lo.drg.splice($index, 1)"
	dnd-effect-allowed="move">
	<dnd-nodrag>

		<!-- <form ng-click="active_form($index, $event)"> -->
		<form ng-click="active_form_drg($index, $event, uol, lo, drg)">
			<div class="input-group" ng-click="selectedDrgWriteFunc($parent.$parent.$index, $parent.$index, $index)">
				<div class="icon_button drag drag_vertical" dnd-handle>&nbsp;</div>
				<!-- <div class="drg_title">{{$parent.$parent.$index+1}}.{{$parent.$index+1}}.{{$index+1}}</div> -->
				<span class="drg_circle" ng-class='{active: selectedUol == $parent.$parent.$index && selectedLo == $parent.$index && selectedDrg == $index}'></span>
				<input type="text" class="input_drg_title form-control" readonly="true"
				ng-model="drg.title"
				ng-class='{active: selectedUol == $parent.$parent.$index && selectedLo == $parent.$index && selectedDrg == $index}'
				ng-click="drg_clear_default($parent.$parent.$index, $parent.$index, $index, $event, drg.title, 'drg')"
				ng-blur="drg_input_default($parent.$parent.$index, $parent.$index, $index, $event, drg.title, 'drg')"
				>
				<!-- <md-radio-button></md-radio-button> -->
			</div>
		</form>
		<div class="controller clearfix" ng-class="{ selected : drg.selected }">
			<!-- <div class="advanced_option">
				<input type="checkbox" class="advanced_check" name="advanced_{{drg.id}}" id="advanced_{{drg.id}}" ng-init="drg.advanced_page ? drg.advanced_page : drg.advanced_page = false" ng-model="drg.advanced_page">
				<label class="advanced_label" for="advanced_{{drg.id}}">유료</label>
				<span class="advanced_info">?</span>
				<div class="advanced_message">현재 페이지를 유료결재한 학습자에게만 제공하고 싶은 경우 선택하세요.</div>
			</div> -->
			<!-- <button class="icon_button small drag" dnd-handle>이동</button>
			<span class="separator">&nbsp;</span> -->
			<!-- <button class="icon_button small add" ng-click="addDrg()">추가</button>
			<span class="separator">&nbsp;</span> -->
			<div class="button_group">
				<button class="icon_button small copy" ng-click="copyDrg(drg)">복제</button>
				<span class="separator">&nbsp;</span>
				<button class="icon_button small delete" ng-click="deleteDrg($index)">삭제</button>
			</div>
		</div>
	</dnd-nodrag>
</li>
<li class="dndPlaceholder">
	소주제를 옮겨주세요.
</li>
</ul>
