
<div class="dr dr_quiz clearfix" ng-controller="drController" ng-click="enableDr($event, $index)">
	<div class="drag drag_horizontal"></div>
	<div class="function clearfix">
	    <button class="icon_button move_up" ng-click="moveSurveyDr(dr, $parent.$index, 'up')" ng-class="{ hidden:$first }">위로 이동</button>
	    <span class="separator" ng-class="{ hidden:$first }">&nbsp;</span>
	    <button class="icon_button move_down" ng-click="moveSurveyDr(dr, $parent.$index, 'down')" ng-class="{ hidden:$last }">아래로 이동</button>
	    <span class="separator" ng-class="{ hidden:$last }">&nbsp;</span>
		<button class="icon_button add" ng-click="addSurveyQuizDr('none', $index)">추가</button>
		<span class="separator">&nbsp;</span>
		<button class="icon_button copy" ng-click="copySurveyDr(dr, $parent.$index)">복제</button>
		<span class="separator">&nbsp;</span>
		<button class="icon_button delete" ng-click="deleteSurveyDr($index)">삭제</button>
	</div>
	<div class="dr_wrapper">
		<h4>- 객관식 -</h4>
		<form class="single_choice">
			<!-- <label>문제{{ $index + ', ' + $parent.$index + ', ' + $parent.$parent.$index }}</label> -->
			<label>설문 {{ $index + 1 }}</label>
			<textarea type="text" rows="2" class="title" placeholder="질문을 입력해주세요."
			ng-model="dr.title"
			ng-click="survey_clear_default($index, dr.title, 'survey')"
			ng-blur="survey_input_default($index, dr.title, 'survey')"
			></textarea>
			<div class="option_container single_choice" dnd-list="dr.drChild.options" dnd-allowed-types="dr.drChild.allowedTypes">
				<div class="option" ng-repeat="option in dr.drChild.options"
				dnd-draggable="option"
				dnd-type="option.type"
				dnd-disable-if="option.type == 'unknown'"
				dnd-moved="dr.drChild.options.splice($index, 1)"
				dnd-effect-allowed="move">
				<dnd-nodrag>
					<div class="drag drag_vertical" dnd-handle>&nbsp;</div>
					<div class="box input-group">
						<div class="input-group-addon">
							<input type="radio" name="single_choice" value="{{$index}}" class="single_choice_element" ng-click="drQuizCorrectOption($index+1, dr)"/>
						</div>
						<div class=guiz_option">
							<input type="text" placeholder="선택지를 입력해주세요."
							ng-model="option.title"
							ng-click="survey_option_clear_default($parent.$index, $index, option.title, 'option')"
							ng-blur="survey_option_input_default($parent.$index, $index, option.title, 'option')"
							>
						</div>
					</div>
					<button class="remove" ng-click="deleteDrQuizOptions($index, dr.drChild.options)"></button>
				</dnd-nodrag>
			</div>
			<div class="dndPlaceholder">보기를 옮겨주세요.</div>
			<div class="option add_option">
				<div class="box">
					<button class="button" ng-click="addDrQuizOptions(dr.drChild.options, drQuizTabList[dr.drChild.drChildTypeIndex])">보기추가</button>
				</div>
			</div>
		</div>
	</form>
</div>
</div>
